<div class = "box" id = "box">Hello from the other side</div>

<button onclick="update()">Update</button>
<button onclick="del()">Delete</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>

<script> 
var socket = io.connect('http://localhost:3000');
socket.on('message', function (data) {
	console.log("Socket to update HTML Called");
	console.log(data);
	$('#box').html(data);
	});

function update(){
	console.log("Called Update socket");
	var data = $('#box').html();
	console.log("Sending string:" + data);
        socket.emit('add',data);
}

function del(){
	console.log("Called delete socket");
	var data = $('#box').html();
	console.log("Sending string:" + data);
        socket.emit('delete',data);
}
</script>
